<!DOCTYPE HTML>
<html>
    <head>
    <script>
      window.onload = function() {
        CanvasJS.addColorSet("custom",
                [ "#2E8B57",
                 "#008080"]);
        var dataPoints = [];

        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "dark1",
            colorSet: "custom",
            title: {
                text: "Live Humidity Data"
            },
            axisY: {
                gridColor: "#404040",
            },
            data: [{
                type: "line",
                dataPoints: dataPoints
            }]
        });
        getData();

        // Initial Values
        var xValue = 0;
        var yValue = 100;
        var newDataCount = 6;

        function addData(data) {
            console.log(data);
            if(newDataCount != 1) {
                $.each(data, function(key, value) {
                    dataPoints.push({x: value[0], y: parseInt(value[1])});
                    xValue++;
                    yValue = parseInt(value[1]);
                });
            } else {
                if (dataPoints.length > 100) {
                  dataPoints.shift();
                }
                dataPoints.push({x: data[0][0], y: parseInt(data[0][1])});
                xValue++;
                yValue = parseInt(data[0][1]);
            }

            newDataCount = 1;
            chart.render();
            setTimeout(updateData, 1000);
        }

        function getData() {
            $.getJSON("http://raspberrypi:5000/data", addData);
        }

        function updateData() {
            $.getJSON("http://raspberrypi:5000/dataUpdate", addData);
        }

      }
    </script>
    </head>
    <body style="background: #2A2A2A; color: #F2F2F2;">
        <h1>Home Humidity</h1>
        <div id="chartContainer" style="height:390px; width:100%;"></div>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    </body>
</html>
